.row {
    display: flex;
    justify-content: center;
}

.column {
    margin: auto;
}

#model {
    display: flex;
    flex-direction: column;
}

#c {
    width: 95vh;
    height: 95vh;
}
.card {
    box-shadow: 0 40px 80px 0 rgba(0,0,0,0.5);
    width: 95vh;
    height: 95vh;
    margin: auto;
}